/*.App {
  text-align: center;
  background-color: blue;
}*/

.categories {
  background-color: grey;
}

.posts {
  background-color: tomato;
}

.postDetails {
    background-color: green;
}

.comments {
  background-color: yellow;
}

.settings {
  background-color: purple;
}
